<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="pageLoader">Loading...</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div id="navbarWrapper" class="container-fluid">
            <a id="siteLogo" class="navbar-brand" href="#">
                @if (ViewData["Header"] == null)
                {
                    <i class="far fa-file-alt fa-2x"></i>
                    <span>Invoice Interrogator</span>
                }
                else
                {
                    <i class="far fa-file-alt fa-2x"></i>
                    <span>@ViewData["Header"]</span>
                }
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#invIntNavbar" aria-controls="invIntNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="invIntNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="uploadsDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Upload <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uploadsDropdown">
                            <a class="dropdown-item" asp-controller="Files" asp-action="UploadInvoices">Invoices</a>
                            <a class="dropdown-item" href="#">Vendors</a>
                            <a class="dropdown-item" href="#">Chart of Accounts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="viewsDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            View <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="viewsDropdown">
                            <a class="dropdown-item" asp-controller="Tables" asp-action="AllInvoices">All Invoices</a>
                            <a class="dropdown-item" asp-controller="Tables" asp-action="UnprocessedInvoices">Unprocessed Invoices</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="editDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Edit <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="editDropdown">
                            <a class="dropdown-item" asp-controller="Vendors" asp-action="Index">Vendors</a>
                            <a class="dropdown-item" href="#">Accounts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="reportDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Reports <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reportDropdown">
                            <a class="dropdown-item" href="#">Invoices to Review</a>
                            <a class="dropdown-item" href="#">Vendors to Review</a>
                            <a class="dropdown-item" href="#">Accounts to Review</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content container-fluid">
        @RenderBody()
        <footer>
            <div id="navFooter" class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
                <p class="text-center">&copy; 2018 InvoiceInterrogator.NET</p>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.js"></script>
        <script src="~/lib/font-awesome/all.min.js"></script>
        <script src="~/js/tables.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.js"></script>
        <script src="~/lib/font-awesome/all.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
