@model TablesViewModel 

@{
    ViewData["Title"] = "All Invoices";
    ViewData["Header"] = "All Invoices";
}

<div id="allInvoiceTableWrapper">
    <table id="allInvoiceTable" class="table table-sm table-bordered table-hover table-striped">
        @Html.Partial("_InvoiceTablePartial") 
    </table>
</div>

@Html.Partial("_AccountModalPartial")