@model HomeViewModel

@{
    ViewData["Title"] = "Recent Invoices";
}

<div id="invoiceTableWrapper">
    <table id="invoiceTable" class="table table-sm table-bordered table-hover table-striped">
       @Html.Partial("/Views/Tables/_InvoiceTablePartial.cshtml") 
    </table>
</div>

@Html.Partial("/Views/Tables/_AccountModalPartial.cshtml")

