/* General Styles */
.center {
    text-align: center; 
}

.row-link {
    display: block;
    text-decoration: none;
    color: #fff;
}

.row-link:hover {
    text-decoration: none;
    color: #fff;
}

.row-link:focus {
    outline: none;
}

/* Navigation Styles */
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

#siteLogo .fa-file-alt,
#siteLogo span {
    color: #dbdbdb;
}

#siteLogo span {
    font-size: 1.5em;
    padding-left: 10px;
    float: right;
}

#navFooter {
    max-height: 30px;
}

#navFooter > p {
    margin: 10px auto 10px auto;
    font-size: 0.8rem;
}

/* Shared Table Styles */
#invoiceTableWrapper,
#allInvoiceTableWrapper,
#unprocessedInvoiceTableWrapper,
#vendorTableWrapper,
#accountsTableWrapper {
    padding-top: 30px;
}

#invoiceTableWrapper .buttons-excel,
#allInvoiceTableWrapper .buttons-excel,
#unprocessedInvoiceTableWrapper .buttons-excel,
#vendorTableWraper .buttons-excel,
#accountsTableWrapper .buttons-excel {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#invoiceTableWrapper .dataTables_paginate,
#allInvoiceTableWrapper .dataTables_paginate {
    padding-bottom: 80px;
}

.dataTables_paginate {
    padding-top: 20px;
    padding-right: 18px;
}

.dataTables_filter {
    padding-right: 18px;
}

.invoice-amount {
    text-align: right;
    padding-right: 10px;
}

.dt-buttons {
    padding-left: 20px;
}

.acct-header {
    width: 100%; 
    text-align: center;
    margin-right: -30px;
    font-size: 1.8rem;
}

.accts-modal-header {
    border-bottom-color: #2A9FD6;
}

.acct-code {
    color: #fff;
}

/* 200 Invoice Table Styles */
.msg-200 {
    padding-left: 10px;
    padding-top: 18px;
    font-size: 0.75rem;
    color: #555;
}

    .msg-200 a {
        opacity: 0.7;
    }

/* Unprocessed Invoice Table Styles */
#processButton {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Page Loader Styles */
#pageLoader {
    color: #fff;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    text-indent: -9000px;
    z-index: 9;
}

#pageLoader::before {
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(255, 255, 255, .15);
    border-right: 6px solid rgba(255, 255, 255, .15);
    border-bottom: 6px solid rgba(255, 255, 255, .15);
    border-top: 6px solid rgba(255, 255, 255, .8);
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Upload Invoices */
#uploadCard {
    margin: 100px 60px auto 60px;
}

#uploadCard .card-header {
    font-size: 1.8em;
}

#uploadForm {
    margin-top: 20px;
    margin-bottom: 30px;
}

#fileHelp {
    color: #282828;
}

/* Vendor Styles */
#vendorTableWrapper {
    max-width: 85%;    
    margin: auto;
}

#vendorEditCard {
    margin: 50px auto;
}

#vendorEditCard a {
    margin-left: 10px;
}

/* Accounts Styles */
#accountsTableWrapper {
    max-width: 50%;
    margin: auto;
}

#accountEditCard {
    margin: 50px auto;
}

#accountEditCard a {
    margin-left: 10px;
}